
<html>
<head>
  <title>New User</title>
</head>
<body>
  <h2>New User</h2>
  <form method="post" action="/submit">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="number">Ref Number:</label>
      <input type="text" id="name" name="number" required>
      <br>
      <label for="vip">Vip</label>
    <input type="radio" id="vip" name="vip" value="vip" required>
    <label for="standard">Standard</label>
    <input type="radio" id="standard" name="standard" value="standard" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
